
<% if(theme.show_dates) { %>
    <h1 class="title"><%- item.title || theme.default_post_title || "Untitled" %></h1>
    <div class="meta">
      <i class="fa fa-calendar" aria-hidden="true"></i>
        <%= item.date.format(config.date_format) %>  |~|
        <!-- How long will it take to read -->
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <%- readingTime(page.content, 'min') %> |~| 
        <i class="fa fa-tag" aria-hidden="true"></i><%- partial('article-categories') %>
    </div>
<% } else { %>
    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
<% } %>
<% if(item.cover_detail || theme.default_cover_detail) { %>
    <span class="image main"><img src="<%- item.cover_detail || theme.default_cover_detail %>" alt="" /></span>
<% } %>

<!-- Gallery -->
<% if (item.photos && item.photos.length){ %>
    <%- partial('gallery') %>
<% } %>

<!-- Feature Image -->
<% if (item.featured_image){ %>
    <img src="<%- item.featured_image %>">
<% } %>

<!-- Content -->
<%- item.content %>

<!-- Tags -->
<%- partial('article-tags') %>

<!-- Comments -->
<div>
    <%- partial("_partial/comments.ejs") %>
</div>
